{% extends 'base-detalles.html.twig' %}

{% block title %}Hello FichaController!{% endblock %}

{% block body %}

<script>

function CheckFuerza(){
    var estadistica= document.getElementById("modificadorf").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkf");
    if(check.checked){
        
        
        document.getElementById("fuerzas").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("fuerzas").value=parseInt(estadistica);
    }

  }

    function CheckSabiduria(){
    var estadistica = document.getElementById("modificadors").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checks");
    if(check.checked){
        
        
        document.getElementById("sabidurias").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("sabidurias").value=parseInt(estadistica);
    }
  }

  function CheckCarisma(){
    var estadistica = document.getElementById("modificadorc").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkc");
    if(check.checked){
        
        
        document.getElementById("carismas").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("carismas").value=parseInt(estadistica);
    }
  }

    function CheckDestreza(){
    var estadistica = document.getElementById("modificadord").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkd");
    if(check.checked){
        
        
        document.getElementById("destrezas").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("destrezas").value=parseInt(estadistica);
    }
  }

    function CheckConstitucion(){
    var estadistica = document.getElementById("modificadorc").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkc");
    if(check.checked){
        
        
        document.getElementById("constitucions").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("constitucions").value=parseInt(estadistica);
    }
  }

    function CheckInteligencia(){
    var estadistica = document.getElementById("modificadori").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checki");
    if(check.checked){
        
        
        document.getElementById("inteligencias").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("inteligencias").value=parseInt(estadistica);
    }
  }

  function ModificadorFuerza(){
    var fuerza = document.getElementById("fuerza").value;
    var valor = -5;
    if(fuerza >= 2 && fuerza <=3){
        valor = -4
    }
    else if(fuerza >= 4 && fuerza <=5){
        valor = -3
    }
    else if(fuerza >= 6 && fuerza <=7){
        valor = -2
    }
    else if(fuerza >= 8 && fuerza <=9){
        valor = -1
    }
    else if(fuerza >= 10 && fuerza <=11){
        valor = 0
    }
    else if(fuerza >= 12 && fuerza <=13){
        valor = 1
    }
    else if(fuerza >= 14 && fuerza <=15){
        valor = 2
    }
    else if(fuerza >= 16 && fuerza <=17){
        valor = 3
    }
    else if(fuerza >= 18 && fuerza <=19){
        valor = 4
    }
    else if(fuerza >= 20){
        valor = 5
    }

    document.getElementById("modificadorf").value=valor;
  }

    function ModificadorSabiduria(){
    var sabiduria = document.getElementById("sabiduria").value;
    var valor = -5;
    if(sabiduria >= 2 && sabiduria <=3){
        valor = -4
    }
    else if(sabiduria >= 4 && sabiduria <=5){
        valor = -3
    }
    else if(sabiduria >= 6 && sabiduria <=7){
        valor = -2
    }
    else if(sabiduria >= 8 && sabiduria <=9){
        valor = -1
    }
    else if(sabiduria >= 10 && sabiduria <=11){
        valor = 0
    }
    else if(sabiduria >= 12 && sabiduria <=13){
        valor = 1
    }
    else if(sabiduria >= 14 && sabiduria <=15){
        valor = 2
    }
    else if(sabiduria >= 16 && sabiduria <=17){
        valor = 3
    }
    else if(sabiduria >= 18 && sabiduria <=19){
        valor = 4
    }
    else if(sabiduria >= 20){
        valor = 5
    }

    document.getElementById("modificadors").value=valor;
  }

  function ModificadorCarisma(){
    var carisma = document.getElementById("carisma").value;
    var valor = -5;
    if(carisma >= 2 && carisma <=3){
        valor = -4
    }
    else if(carisma >= 4 && carisma <=5){
        valor = -3
    }
    else if(carisma >= 6 && carisma <=7){
        valor = -2
    }
    else if(carisma >= 8 && carisma <=9){
        valor = -1
    }
    else if(carisma >= 10 && carisma <=11){
        valor = 0
    }
    else if(carisma >= 12 && carisma <=13){
        valor = 1
    }
    else if(carisma >= 14 && carisma <=15){
        valor = 2
    }
    else if(carisma >= 16 && carisma <=17){
        valor = 3
    }
    else if(carisma >= 18 && carisma <=19){
        valor = 4
    }
    else if(carisma >= 20){
        valor = 5
    }

    document.getElementById("modificadorca").value=valor;
  }

    function ModificadorDestreza(){
    var destreza = document.getElementById("destreza").value;
    var valor = -5;
    if(destreza >= 2 && destreza <=3){
        valor = -4
    }
    else if(destreza >= 4 && destreza <=5){
        valor = -3
    }
    else if(destreza >= 6 && destreza <=7){
        valor = -2
    }
    else if(destreza >= 8 && destreza <=9){
        valor = -1
    }
    else if(destreza >= 10 && destreza <=11){
        valor = 0
    }
    else if(destreza >= 12 && destreza <=13){
        valor = 1
    }
    else if(destreza >= 14 && destreza <=15){
        valor = 2
    }
    else if(destreza >= 16 && destreza <=17){
        valor = 3
    }
    else if(destreza >= 18 && destreza <=19){
        valor = 4
    }
    else if(destreza >= 20){
        valor = 5
    }

    document.getElementById("modificadord").value=valor;
  }

    function ModificadorConstitucion(){
    var constitucion = document.getElementById("constitucion").value;
    var valor = -5;
    if(constitucion >= 2 && constitucion <=3){
        valor = -4
    }
    else if(constitucion >= 4 && constitucion <=5){
        valor = -3
    }
    else if(constitucion >= 6 && constitucion <=7){
        valor = -2
    }
    else if(constitucion >= 8 && constitucion <=9){
        valor = -1
    }
    else if(constitucion >= 10 && constitucion <=11){
        valor = 0
    }
    else if(constitucion >= 12 && constitucion <=13){
        valor = 1
    }
    else if(constitucion >= 14 && constitucion <=15){
        valor = 2
    }
    else if(constitucion >= 16 && constitucion <=17){
        valor = 3
    }
    else if(constitucion >= 18 && constitucion <=19){
        valor = 4
    }
    else if(constitucion >= 20){
        valor = 5
    }

    document.getElementById("modificadorc").value=valor;
  }

    function ModificadorInteligencia(){
    var inteligencia = document.getElementById("inteligencia").value;
    var valor = -5;
    if(inteligencia >= 2 && inteligencia <=3){
        valor = -4
    }
    else if(inteligencia >= 4 && inteligencia <=5){
        valor = -3
    }
    else if(inteligencia >= 6 && inteligencia <=7){
        valor = -2
    }
    else if(inteligencia >= 8 && inteligencia <=9){
        valor = -1
    }
    else if(inteligencia >= 10 && inteligencia <=11){
        valor = 0
    }
    else if(inteligencia >= 12 && inteligencia <=13){
        valor = 1
    }
    else if(inteligencia >= 14 && inteligencia <=15){
        valor = 2
    }
    else if(inteligencia >= 16 && inteligencia <=17){
        valor = 3
    }
    else if(inteligencia >= 18 && inteligencia <=19){
        valor = 4
    }
    else if(inteligencia >= 20){
        valor = 5
    }

    document.getElementById("modificadori").value=valor;
  }

  function CheckAcrobacias(){
    var estadistica= document.getElementById("modificadord").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkacrobacias");
    if(check.checked){
        
        
        document.getElementById("acrobacias").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("acrobacias").value=parseInt(estadistica);
    }

  }

    function CheckAtletismo(){
    var estadistica = document.getElementById("modificadorf").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkatletismo");
    if(check.checked){
        
        
        document.getElementById("atletismo").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("atletismo").value=parseInt(estadistica);
    }
  }

  function CheckAnimales(){
    var estadistica = document.getElementById("modificadors").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkanimales");
    if(check.checked){
        
        
        document.getElementById("manejoanimales").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("manejoanimales").value=parseInt(estadistica);
    }
  }

    function CheckArcana(){
    var estadistica = document.getElementById("modificadori").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkarcana");
    if(check.checked){
        
        
        document.getElementById("arcana").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("arcana").value=parseInt(estadistica);
    }
  }

    function CheckHistoria(){
    var estadistica = document.getElementById("modificadori").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkhistoria");
    if(check.checked){
        
        
        document.getElementById("historia").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("historia").value=parseInt(estadistica);
    }
  }

    function CheckPersuasion(){
    var estadistica = document.getElementById("modificadorca").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkpersuasion");
    if(check.checked){
        
        
        document.getElementById("persuasion").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("persuasion").value=parseInt(estadistica);
    }
  }

  function CheckInterpretacion(){
    var estadistica= document.getElementById("modificadorca").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkinterpretacion");
    if(check.checked){
        
        
        document.getElementById("interpretacion").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("interpretacion").value=parseInt(estadistica);
    }

  }

    function CheckIntimidacion(){
    var estadistica = document.getElementById("modificadorca").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkintimidacion");
    if(check.checked){
        
        
        document.getElementById("intimidacion").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("intimidacion").value=parseInt(estadistica);
    }
  }

  function CheckEngañar(){
    var estadistica = document.getElementById("modificadorca").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkengañar");
    if(check.checked){
        
        
        document.getElementById("engañar").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("engañar").value=parseInt(estadistica);
    }
  }

    function CheckSupervivencia(){
    var estadistica = document.getElementById("modificadors").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checksupervivencia");
    if(check.checked){
        
        
        document.getElementById("supervivencia").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("supervivencia").value=parseInt(estadistica);
    }
  }

    function CheckPercepcion(){
    var estadistica = document.getElementById("modificadors").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkpercepcion");
    if(check.checked){
        
        
        document.getElementById("percepcion").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("percepcion").value=parseInt(estadistica);
    }
  }

    function CheckMedicina(){
    var estadistica = document.getElementById("modificadors").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkmedicina");
    if(check.checked){
        
        
        document.getElementById("medicina").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("medicina").value=parseInt(estadistica);
    }
  }

  function CheckReligion(){
    var estadistica= document.getElementById("modificadori").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkreligion");
    if(check.checked){
        
        
        document.getElementById("religion").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("religion").value=parseInt(estadistica);
    }

  }

    function CheckNaturaleza(){
    var estadistica = document.getElementById("modificadori").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checknaturaleza");
    if(check.checked){
        
        
        document.getElementById("naturaleza").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("naturaleza").value=parseInt(estadistica);
    }
  }

  function CheckSigilo(){
    var estadistica = document.getElementById("modificadord").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checksigilo");
    if(check.checked){
        
        
        document.getElementById("sigilo").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("sigilo").value=parseInt(estadistica);
    }
  }

    function CheckManos(){
    var estadistica = document.getElementById("modificadord").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkmanos");
    if(check.checked){
        
        
        document.getElementById("juegomanos").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("juegomanos").value=parseInt(estadistica);
    }
  }

    function CheckIntenciones(){
    var estadistica = document.getElementById("modificadors").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkintenciones");
    if(check.checked){
        
        
        document.getElementById("averiguarintenciones").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("averiguarintenciones").value=parseInt(estadistica);
    }
  }

    function CheckInvestigacion(){
    var estadistica = document.getElementById("modificadori").value;
    var competencia = document.getElementById("competencia").value;
    var check = document.getElementById("checkinvestigacion");
    if(check.checked){
        
        
        document.getElementById("investigacion").value=parseInt(estadistica)+parseInt(competencia);
    }
    else{
        document.getElementById("investigacion").value=parseInt(estadistica);
    }
  }

    function RevisarChecks(){
        var elemf = document.getElementById("valuef");
        var elemc = document.getElementById("valuec");
        var elemca = document.getElementById("valueca");
        var elems = document.getElementById("values");
        var elemi = document.getElementById("valuei");
        var elemd = document.getElementById("valued");
        var elematletismo = document.getElementById("valueatletismo");
        var elemacrobacias = document.getElementById("valueacrobacias");
        var elemmanos = document.getElementById("valuemanos");
        var elemsigilo = document.getElementById("valuesigilo");
        var elemarcana = document.getElementById("valuearcana");
        var elemhistoria = document.getElementById("valuehistoria");
        var eleminvestigacion = document.getElementById("valueinvestigacion");
        var elemnaturaleza = document.getElementById("valuenaturaleza");
        var elemreligion = document.getElementById("valuereligion");
        var elemanimales = document.getElementById("valueanimales");
        var elemintenciones = document.getElementById("valueintenciones");
        var elemmedicina = document.getElementById("valuemedicina");
        var elempercepcion = document.getElementById("valuepercepcion");
        var elemsupervivencia = document.getElementById("valuesupervivencia");
        var elemengañar = document.getElementById("valueengañar");
        var elemintimidacion = document.getElementById("valueintimidacion");
        var eleminterpretacion = document.getElementById("valueinterpretacion");
        var elempersuasion = document.getElementById("valuepersuasion");
        var eleme1 = document.getElementById("valuee1");
        var eleme1 = document.getElementById("valuee2");
        var eleme3 = document.getElementById("valuee3");
        var elemf1 = document.getElementById("valuef1");
        var elemf2 = document.getElementById("valuef2");
        var elemf3 = document.getElementById("valuef3");
        elemf.value = document.getElementById("checkf").checked;
        elemc.value = document.getElementById("checkc").checked;
        elemca.value = document.getElementById("checkca").checked;
        elems.value = document.getElementById("checks").checked;
        elemi.value = document.getElementById("checki").checked;
        elemd.value = document.getElementById("checkd").checked;
        elematletismo.value = document.getElementById("checkatletismo").checked;
        elemacrobacias.value = document.getElementById("checkacrobacias").checked;
        elemmanos.value = document.getElementById("checkmanos").checked;
        elemsigilo.value = document.getElementById("checksigilo").checked;
        elemarcana.value = document.getElementById("checkarcana").checked;
        elemhistoria.value = document.getElementById("checkhistoria").checked;
        eleminvestigacion.value = document.getElementById("checkinvestigacion").checked;
        elemnaturaleza.value = document.getElementById("checknaturaleza").checked;
        elemreligion.value = document.getElementById("checkreligion").checked;
        elemanimales.value = document.getElementById("checkanimales").checked;
        elemintenciones.value = document.getElementById("checkintenciones").checked;
        elemmedicina.value = document.getElementById("checkmedicina").checked;
        elempercepcion.value = document.getElementById("checkpercepcion").checked;
        elemsupervivencia.value = document.getElementById("checksupervivencia").checked;
        elemengañar.value = document.getElementById("checkengañar").checked;
        elemintimidacion.value = document.getElementById("checkintimidacion").checked;
        eleminterpretacion.value = document.getElementById("checkinterpretacion").checked;
        elempersuasion.value = document.getElementById("checkpersuasion").checked;
        eleme1.value = document.getElementById("exito1").checked;
        eleme2.value = document.getElementById("exito2").checked;
        eleme3.value = document.getElementById("exito3").checked;
        elemf1.value = document.getElementById("fallo1").checked;
        elemf2.value = document.getElementById("fallo2").checked;
        elemf3.value = document.getElementById("fallo3").checked;
    }

</script>

{{ parent() }}
                <div class="col-md-4 col-xs-12 pb-3">
                    <label for="raza">Raza</label>
                    <input  type="hidden" name="_test[]" value="Raza">
                    <select id="raza" name="_atributos[]" value="Elfo" class="form-control">
                        <option value="Enano">Enano</option>
                        <option value="Elfo">Elfo</option>
                        <option value="Mediano">Mediano</option>
                        <option value="Humano">Humano</option>
                        <option value="Draconido">Draconido</option>
                        <option value="Gnomo">Gnomo</option>
                        <option value="Semi-elfo">Semi-elfo</option>
                        <option value="Semi-Orco">Semi-Orco</option>
                        <option value="Tiefling">Tiefling</option>
                    </select>
                </div>

                <div class="col-md-4 col-xs-12 pb-3">
                    <label for="clase">Clase</label>
                    <input type="hidden" name="_test[]" value="Clase">
                    <select id="clase" name="_atributos[]" class="form-control">
                        <option>Luchador</option>
                        <option>Barbaro</option>
                        <option>Brujo</option>
                        <option>Paladin</option>
                        <option>Ranger</option>
                        <option>Monje</option>
                        <option>Pícaro</option>
                        <option>Clerigo</option>
                        <option>Hechicero</option>
                        <option>Bardo</option>
                        <option>Druida</option>
                        <option>Mago</option>
                    </select>
                </div>

                <div class="col-md-4 col-xs-12 pb-3">
                    <label for="alineacion">Alineación</label>
                    <input type="hidden" name="_test[]" value="Alineacion">
                    <select id="alineacion" name="_atributos[]" class="form-control">
                        <option>Legal bueno</option>
                        <option>Neutral bueno</option>
                        <option>Caótico bueno</option>
                        <option>Legal neutral</option>
                        <option>Neutral</option>
                        <option>Caótico neutral</option>
                        <option>Legal malo</option>
                        <option>Neutral malo</option>
                        <option>Caótico malo</option>
                    </select>
                </div>

                <div class="col-md-4 col-xs-12 pb-3">
                    <label for="transfondo">Transfondo</label>
                    <input type="hidden" name="_test[]" value="Transfondo">
                    <select id="transfondo" name="_atributos[]" class="form-control">
                        <option>Acólito</option>
                        <option>Artesano Gremial</option>
                        <option>Artista</option>
                        <option>Charlatán</option>
                        <option>Criminal</option>
                        <option>Hermitaño</option>
                        <option>Forastero</option>
                        <option>Heroe del pueblo</option>
                        <option>Huérfano</option>
                        <option>Marinero</option>
                        <option>Noble</option>
                        <option>Sabio</option>
                        <option>Soldado</option>
                    </select>
                </div>

                <div class="col-md-2 col-xs-12 pb-3">
                    <label for="altura">Altura</label>
                    <input type="hidden" name="_test[]" value="Altura">
                    <input type="number" id="altura" name="_atributos[]" class="form-control" value="{{atributos.Altura}}" autocomplete="off">
                </div>

                <div class="col-md-2 col-xs-12 pb-3">
                    <label for="peso">Peso</label>
                    <input type="hidden" name="_test[]" value="Peso">
                    <input type="number" id="name" name="_atributos[]" class="form-control" value="{{atributos.Peso}}" autocomplete="off">
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3 bg-white border border-4 rounded border-dark" style="max-width: 90%;">

        <div class="row">
            <div class="col-md-1 col-xs-12">
                <div class="p-2 text-center border border-4 rounded border-dark mt-3">
                    <label for="fuerza">Fuerza</label>
                    <input type="hidden" name="_test[]" value="Fuerza">
                    <input type="number" id="fuerza" oninput="ModificadorFuerza();CheckFuerza();CheckAtletismo()" name="_atributos[]" class="form-control" value="{{atributos.Fuerza}}" autocomplete="off">
                    <input type="hidden" name="_test[]" value="ModificadorFuerza">
                    <input type="text" id="modificadorf" name="_atributos[]" class="form-control" value="{{atributos.ModificadorFuerza}}" readonly>
                </div>

                <div class="p-2 text-center border border-4 rounded border-dark mt-3">
                    <label for="destreza">Destreza</label>
                    <input type="hidden" name="_test[]" value="Destreza">
                    <input type="number" id="destreza" oninput="ModificadorDestreza();CheckDestreza();CheckAcrobacias();CheckManos();CheckSigilo()" name="_atributos[]" class="form-control" value="{{atributos.Destreza}}" autocomplete="off">
                    <input type="hidden" name="_test[]" value="ModificadorDestreza">
                    <input type="text" id="modificadord" name="_atributos[]" class="form-control" value="{{atributos.ModificadorDestreza}}" readonly>
                </div>

                <div class="p-2 text-center border border-4 rounded border-dark mt-3">
                    <label for="constitucion">Constitución</label>
                    <input type="hidden" name="_test[]" value="Constitución">
                    <input type="number" id="constitucion" oninput="ModificadorConstitucion();CheckConstitucion()" name="_atributos[]" class="form-control" value="{{atributos.Constitución}}" autocomplete="off">
                    <input type="hidden" name="_test[]" value="ModificadorConstitución">
                    <input type="text" id="modificadorc" name="_atributos[]" class="form-control" value="{{atributos.ModificadorConstitución}}" readonly>
                </div>

                <div class="p-2 text-center border border-4 rounded border-dark mt-3">
                    <label for="inteligencia">Inteligencia</label>
                    <input type="hidden" name="_test[]" value="Inteligencia">
                    <input type="number" id="inteligencia" oninput="ModificadorInteligencia();CheckInteligencia();CheckArcana();CheckHistoria();CheckInvestigacion();CheckNaturaleza();CheckReligion()" name="_atributos[]" class="form-control" value="{{atributos.Inteligencia}}" autocomplete="off">
                    <input type="hidden" name="_test[]" value="ModificadorInteligencia">
                    <input type="text" id="modificadori" name="_atributos[]" class="form-control" value="{{atributos.ModificadorInteligencia}}" readonly>
                </div>

                <div class="p-2 text-center border border-4 rounded border-dark mt-3">
                    <label for="sabiduria">Sabiduria</label>
                    <input type="hidden" name="_test[]" value="Sabiduria">
                    <input type="number" id="sabiduria" oninput="ModificadorSabiduria();CheckSabiduria();CheckAnimales();CheckIntenciones();CheckMedicina();CheckPercepcion();CheckSupervivencia()" name="_atributos[]" class="form-control" value="{{atributos.Sabiduria}}" autocomplete="off">
                    <input type="hidden" name="_test[]" value="ModificadorSabiduria">
                    <input type="text" id="modificadors" name="_atributos[]" class="form-control" value="{{atributos.ModificadorSabiduria}}" readonly>
                </div>

                <div class="p-2 text-center border border-4 rounded border-dark mt-3">
                    <label for="carisma">Carisma</label>
                    <input type="hidden" name="_test[]" value="Carisma">
                    <input type="number" id="carisma" oninput="ModificadorCarisma();CheckCarisma();CheckEngañar();CheckIntimidacion();CheckInterpretacion();CheckPersuasion()" name="_atributos[]" class="form-control" value="{{atributos.Carisma}}" autocomplete="off">
                    <input type="hidden" name="_test[]" value="ModificadorCarisma">
                    <input type="text" id="modificadorca" name="_atributos[]" class="form-control" value="{{atributos.ModificadorCarisma}}" readonly>
                </div>
            </div>

            <div class="col-md-3 col-xs-12 pt-2">
                <div class="p-2 border border-4 rounded border-dark">
                    <label for="inspiracion">Inspiración</label>
                    <input type="hidden" name="_test[]" value="Inspiración">
                    <input type="number" id="inspiracion" name="_atributos[]" class="form-control" value="{{atributos.Inspiración}}" autocomplete="off">

                    <label for="competencia" class="pt-3">Competencia</label>
                    <input type="hidden" name="_test[]" value="Competencia">
                    <input type="number" id="competencia" oninput="CheckFuerza();CheckDestreza();CheckConstitucion();CheckCarisma();CheckArcana();CheckSabiduria();CheckPersuasion();CheckIntimidacion();CheckEngañar();CheckSupervivencia();CheckInterpretacion();CheckMedicina();CheckIntenciones();CheckAnimales();CheckReligion();CheckNaturaleza();CheckInvestigacion();CheckHistoria();CheckInteligencia();CheckSigilo();CheckManos();CheckAcrobacias();CheckAtletismo();CheckPercepcion();" name="_atributos[]" class="form-control" value="{{atributos.Competencia}}" autocomplete="off">
                </div>

                <div class="p-2 border border-4 rounded border-dark mt-4">
                    <div class="text-center">
                        <label for="salvacion">Tiradas de salvación</label>
                    </div>

                        <div class="form-check form-check-inline">
                            <input type="hidden" name="_test[]" value="CheckFuerza">
                            <input class="form-check-input" type="checkbox" id="checkf" oninput="CheckFuerza();">
                            <input class="form-control" type="text" id="valuef" name="_atributos[]" value=false hidden>
                            <input type="hidden" name="_test[]" value="SalvaciónFuerza">
                            <input type="number" id="fuerzas" name="_atributos[]" class="form-control" value="{{atributos.SalvaciónFuerza}}" autocomplete="off">
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="fuerzas">Fuerza</label> 
                        </div>

                        <div class="form-check form-check-inline pt-2">
                            <input type="hidden" name="_test[]" value="CheckDestreza">
                              <input type="checkbox" oninput="CheckDestreza()" id="checkd" class="form-check-input">
                            <input class="form-control" type="text" id="valued" name="_atributos[]" value=false hidden>
                            <input type="hidden" name="_test[]" value="SalvaciónDestreza">
                            <input type="number" id="destrezas" name="_atributos[]" class="form-control" value="{{atributos.SalvaciónDestreza}}" autocomplete="off">
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="destrezas">Destreza</label>
                        </div>  

                        <div class="form-check form-check-inline pt-2">
                            <input type="hidden" name="_test[]" value="CheckConstitución">
                            <input type="checkbox" oninput="CheckConstitucion()" id="checkc" class="form-check-input">
                            <input class="form-control" type="text" id="valuec" name="_atributos[]" value=false hidden>
                            <input type="hidden" name="_test[]" value="SalvaciónConstitución">
                            <input type="number" id="constitucions" name="_atributos[]" class="form-control" value="{{atributos.SalvaciónConstitución}}" autocomplete="off">
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="constitucions">Constitución</label>
                        </div>

                        <div class="form-check form-check-inline pt-2">
                            <input type="hidden" name="_test[]" value="CheckInteligencia">
                            <input type="checkbox" oninput="CheckInteligencia()" id="checki" class="form-check-input">
                            <input class="form-control" type="text" id="valuei" name="_atributos[]" value=false hidden>
                            <input type="hidden" name="_test[]" value="SalvaciónInteligencia">
                            <input type="number" id="inteligencias" name="_atributos[]" class="form-control" value="{{atributos.SalvaciónInteligencia}}" autocomplete="off">
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="inteligencias">Inteligencia</label>
                        </div>

                        <div class="form-check form-check-inline pt-2">
                            <input type="hidden" name="_test[]" value="CheckSabiduria">
                            <input type="checkbox" oninput="CheckSabiduria()" id="checks" class="form-check-input">
                            <input class="form-control" type="text" id="values" name="_atributos[]" value=false hidden>
                            <input type="hidden" name="_test[]" value="SalvaciónSabiduria">
                            <input type="number" id="sabidurias" name="_atributos[]" class="form-control" value="{{atributos.SalvaciónSabiduria}}" autocomplete="off">
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="sabidurias">Sabiduria</label>
                        </div>

                        <div class="form-check form-check-inline pt-2">
                            <input type="hidden" name="_test[]" value="CheckCarisma">
                            <input type="checkbox" oninput="CheckCarisma()" id="checkca" class="form-check-input">
                            <input class="form-control" type="text" id="valueca" name="_atributos[]" value=false hidden>
                            <input type="hidden" name="_test[]" value="SalvaciónCarisma">
                            <input type="number" id="carismas" name="_atributos[]" class="form-control" value="{{atributos.SalvaciónCarisma}}" autocomplete="off">
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="carismas">Carisma</label>
                        </div>

                </div>

                <div class="p-2 text-center border border-4 rounded border-dark mt-4">
                    <label for="competencais">Otras Competencias</label>
                    <input type="hidden" name="_test[]" value="OtrasCompetencias">
                    <textarea type="text" id="competencias" name="_atributos[]" class="form-control" autocomplete="off" value="{{atributos.OtrasCompetencias}}" rows="4"></textarea>

                    <label for="idiomas" class="mt-3">Idiomas</label>
                    <input type="hidden" name="_test[]" value="Idiomas">
                    <textarea type="text" id="idiomas" name="_atributos[]" class="form-control" autocomplete="off" value="{{atributos.Idiomas}}" rows="3"></textarea>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 pt-2">
                <div class="p-2 border border-4 rounded border-dark">
                    <div class="text-center">
                        <label for="salvacion">Habilidades</label>
                    </div>


                    <div class="form-check form-check-inline">
                        <input type="hidden" name="_test[]" value="CheckAcrobacias">
                        <input type="checkbox" oninput="CheckAcrobacias()" id="checkacrobacias" class="form-check-input">
                        <input class="form-control" type="text" id="valueacrobacias" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="Acrobacias">
                        <input type="number" id="acrobacias" name="_atributos[]" class="form-control" value="{{atributos.Acrobacias}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="acrobacias">Acrobacias</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckAnimales">
                        <input type="checkbox" oninput="CheckAnimales()" id="checkanimales" class="form-check-input">
                        <input class="form-control" type="text" id="valueanimales" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="ManejoAnimales">
                        <input type="number" id="manejoanimales" name="_atributos[]" class="form-control" value="{{atributos.ManejoAnimales}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="manejoanimales">Manejo de animales</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckArcana">
                        <input type="checkbox" oninput="CheckArcana()" id="checkarcana" class="form-check-input">
                        <input class="form-control" type="text" id="valuearcana" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="Arcana">
                        <input type="number" id="arcana" name="_atributos[]" class="form-control" value="{{atributos.Arcana}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="arcana">Arcana</label>
                    </div>

                    <div class="form-check form-check-inline pt-2">
                        <input type="hidden" name="_test[]" value="CheckAtletismo">
                        <input type="checkbox" oninput="CheckAtletismo()" id="checkatletismo" class="form-check-input">
                        <input class="form-control" type="text" id="valueatletismo" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="Atletismo">
                        <input type="number" id="atletismo" name="_atributos[]" class="form-control" value="{{atributos.Atletismo}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="atletismo">Atletismo</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckEngañar">
                        <input type="checkbox" oninput="CheckEngañar()" id="checkengañar" class="form-check-input">
                        <input class="form-control" type="text" id="valueengañar" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="Engañar">
                        <input type="number" id="engañar" name="_atributos[]" class="form-control" value="{{atributos.Engañar}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="engañar">Engañar</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckHistoria">
                        <input type="checkbox" oninput="CheckHistoria()" id="checkhistoria" class="form-check-input">
                        <input class="form-control" type="text" id="valuehistoria" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="Historia">
                        <input type="number" id="historia" name="_atributos[]" class="form-control" value="{{atributos.Historia}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="historia">Historia</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckIntenciones">
                        <input type="checkbox" oninput="CheckIntenciones()" id="checkintenciones" class="form-check-input">
                        <input class="form-control" type="text" id="valueintenciones" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="AveriguarIntenciones">
                        <input type="number" id="averiguarintenciones" name="_atributos[]" class="form-control" value="{{atributos.AveriguarIntenciones}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="averiguarintenciones">Averiguar intenciones</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckIntimidación">
                        <input type="checkbox" oninput="CheckIntimidacion()" id="checkintimidacion" class="form-check-input">
                        <input class="form-control" type="text" id="valueintimidacion" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="Intimidación">
                        <input type="number" id="intimidacion" name="_atributos[]" class="form-control" value="{{atributos.Intimidación}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="intimidacion">Intimidación</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckInvestigación">
                        <input type="checkbox" oninput="CheckInvestigacion()" id="checkinvestigacion" class="form-check-input">
                        <input class="form-control" type="text" id="valueinvestigacion" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="Investigación">
                        <input type="number" id="investigacion" name="_atributos[]" class="form-control" value="{{atributos.Investigación}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="investigacion">Investigación</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckMedicina">
                        <input type="checkbox" oninput="CheckMedicina()" id="checkmedicina" class="form-check-input">
                        <input class="form-control" type="text" id="valuemedicina" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="Medicina">
                        <input type="number" id="medicina" name="_atributos[]" class="form-control" value="{{atributos.Medicina}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="medicina">Medicina</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckNaturaleza">
                        <input type="checkbox" oninput="CheckNaturaleza()" id="checknaturaleza" class="form-check-input">
                        <input class="form-control" type="text" id="valuenaturaleza" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="Naturaleza">
                        <input type="number" id="naturaleza" name="_atributos[]" class="form-control" value="{{atributos.Naturaleza}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="naturaleza">Naturaleza</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckPercepción">
                        <input type="checkbox" oninput="CheckPercepcion()" id="checkpercepcion" class="form-check-input">
                        <input class="form-control" type="text" id="valuepercepcion" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="Percepción">
                        <input type="number" id="percepcion" name="_atributos[]" class="form-control" value="{{atributos.Percepción}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="percepcion">Percepción</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckPersuasión">
                        <input type="checkbox" oninput="CheckPersuasion()" id="checkpersuasion" class="form-check-input">
                        <input class="form-control" type="text" id="valuepersuasion" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="Persuasión">
                        <input type="number" id="persuasion" name="_atributos[]" class="form-control" value="{{atributos.Persuasión}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="persuasion">Persuasión</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckReligión">
                        <input type="checkbox" oninput="CheckInterpretacion()" id="checkinterpretacion" class="form-check-input">
                        <input class="form-control" type="text" id="valueinterpretacion" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="Religión">
                        <input type="number" id="religion" name="_atributos[]" class="form-control" value="{{atributos.Religión}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="religion">Religión</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckInterpretación">
                        <input type="checkbox" oninput="CheckInterpretacion()" id="checkinterpretacion" class="form-check-input">
                        <input class="form-control" type="text" id="valueinterpretacion" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="Interpretación">
                        <input type="number" id="interpretacion" name="_atributos[]" class="form-control" value="{{atributos.Interpretación}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="interpretacion">Interpretación</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckManos">
                        <input type="checkbox" oninput="CheckSigilo()" id="checksigilo" class="form-check-input">
                        <input class="form-control" type="text" id="valuesigilo" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="JuegoManos">
                        <input type="number" id="juegomanos" name="_atributos[]" class="form-control" value="{{atributos.JuegoManos}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="juegomanos">Juego de manos</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckSigilo">
                        <input type="checkbox" oninput="CheckSupervivencia()" id="checksupervivencia" class="form-check-input">
                        <input class="form-control" type="text" id="valuesupervivencia" name="_atributos[]" value=false hidden>
                        <input type="hidden" name="_test[]" value="Sigilo">
                        <input type="number" id="sigilo" name="_atributos[]" class="form-control" value="{{atributos.Sigilo}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="sigilo">Sigilo</label>
                    </div>

                    <div class="form-check form-check-inline pt-1">
                        <input type="hidden" name="_test[]" value="CheckSupervivencia">
                        <input type="checkbox" oninput="CheckSupervivencia()" id="checksupervivencia" name="_atributos[]" class="form-check-input">
                        <input type="hidden" name="_test[]" value="Supervivencia">
                        <input type="number" id="supervivencia" name="_atributos[]" class="form-control" value="{{atributos.Supervivencia}}" autocomplete="off">
                    </div>
                    <div class="form-check form-check-inline">
                        <label for="supervivencia">Supervivencia</label>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 pt-2">
                <div class="p-2 border border-4 rounded border-dark">
                    <div class="row px-3 pb-1 text-center">
                        <div class="col-md-4 col-xs-12">
                        <label for="armorclass">Clase de armadura</label>
                        <input type="hidden" name="_test[]" value="ArmorClass">
                        <input type="number" id="armorclass" name="_atributos[]" class="form-control" value="{{atributos.ArmorClass}}" autocomplete="off">
                        </div>

                        <div class="col-md-4 col-xs-12">
                        <label for="iniciativa">Iniciativa</label>
                        <input type="hidden" name="_test[]" value="Iniciativa">
                        <input type="number" id="iniciativa" name="_atributos[]" class="form-control" value="{{atributos.Iniciativa}}" autocomplete="off">
                        </div>

                        <div class="col-md-4 col-xs-12">
                        <label for="velocidad">Velocidad</label>
                        <input type="hidden" name="_test[]" value="Velocidad">
                        <input type="text" id="velocidad" name="_atributos[]" class="form-control" value="{{atributos.Velocidad}}" autocomplete="off">
                        </div>
                    </div>
                </div>

                <div class="p-2 border border-4 rounded border-dark mt-4">
                    <div class="row px-3 pb-1 text-center">
                        <div class="col-md-6 col-xs-12">
                            <label for="vidamaxima">Vida máxima</label>
                            <input type="hidden" name="_test[]" value="VidaMáxima">
                            <input type="number" id="vidamaxima" name="_atributos[]" class="form-control" autocomplete="off" value="{{atributos.VidaMáxima}}">
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <label for="vidaactual">Vida actual</label>
                            <input type="hidden" name="_test[]" value="VidaActual">
                            <input type="number" id="vidaactual" name="_atributos[]" class="form-control" autocomplete="off" value="{{atributos.VidaActual}}">
                        </div>

                        <div class="col-12 pt-3">
                            <label for="vidatemporal">Vida temporal</label>
                            <input type="hidden" name="_test[]" value="VidaTemporal">
                            <input type="number" id="vidatemporal" name="_atributos[]" class="form-control" autocomplete="off" value="{{atributos.VidaTemporal}}">
                        </div>
                    </div>
                </div>

                <div class="row gx-2 px-3 pb-1 text-center">
                    <div class="col-md-5 col-xs-12 p-2 border border-4 rounded border-dark mt-4">
                        <label for="dadosgolpe" class="pb-3">Dados de golpe</label>
                        <input type="hidden" name="_test[]" value="DadosGolpe">
                        <input type="text" id="dadosgolpe" name="_atributos[]" value="{{atributos.DadosGolpe}}" class="form-control autocomplete="off"">
                    </div>

                    <div class="col-md-5 col-xs-12 ml-auto p-2 border border-4 rounded border-dark mt-4">
                        <div>
                            <label for="tiradasmuerte">Tiradas de muerte</label>
                        </div>

                        <div>
                            <div class="form-check form-check-inline">
                                <label for="exitos">Exitos</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="hidden" name="_test[]" value="Exito1">
                                <input type="checkbox" id="exito1" name="_atributos[]" class="form-check-input">
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="hidden" name="_test[]" value="Exito2">
                                <input type="checkbox" id="exito2" name="_atributos[]" class="form-check-input">
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="hidden" name="_test[]" value="Exito3">
                                <input type="checkbox" id="exito3" name="_atributos[]" class="form-check-input">
                            </div>
                        </div>

                        <div>
                            <div class="form-check form-check-inline">
                                <label for="exitos">Fallos</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="hidden" name="_test[]" value="Fallo1">
                                <input type="checkbox" id="fallo1" name="_atributos[]" class="form-check-input">
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="hidden" name="_test[]" value="Fallo2">
                                <input type="checkbox" id="fallo2" name="_atributos[]" class="form-check-input">
                            </div>

                            <div class="form-check form-check-inline">
                                <input type="hidden" name="_test[]" value="Fallo3">
                                <input type="checkbox" id="fallo3" name="_atributos[]" class="form-check-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="p-2 border border-4 rounded border-dark mt-4 text-center">
                    <div class="row pb-1">
                        <div class="col-md-5 col-xs-12">
                            <label for="arma">Armas</label>
                            <input type="hidden" name="_test[]" value="Arma1">
                            <input type="text" id="name" name="_atributos[]" class="form-control" value="{{atributos.Arma1}}" autocomplete="off">
                        </div>

                        <div class="col-md-2 col-xs-12">
                            <label for="arma">+Ataque</label>
                            <input type="hidden" name="_test[]" value="ModificadorAtaque1">
                            <input type="text" id="name" name="_atributos[]" class="form-control" value="{{atributos.ModificadorAtaque1}}" autocomplete="off">
                        </div>

                        <div class="col-md-5 col-xs-12">
                            <label for="arma">Daño</label>
                            <input type="hidden" name="_test[]" value="Daño1">
                            <input type="text" id="name" name="_atributos[]" class="form-control" value="{{atributos.Daño1}}" autocomplete="off">
                        </div>

                        <div class="col-md-5 col-xs-12 pt-2">
                            <input type="hidden" name="_test[]" value="Arma2">
                            <input type="text" id="name" name="_atributos[]" class="form-control" value="{{atributos.Arma2}}" autocomplete="off">
                        </div>

                        <div class="col-md-2 col-xs-12 pt-2">
                            <input type="hidden" name="_test[]" value="Arma3">
                            <input type="text" id="name" name="_atributos[]" class="form-control" value="{{atributos.Arma3}}" autocomplete="off">
                        </div>

                        <div class="col-md-5 col-xs-12 pt-2">
                            <input type="hidden" name="_test[]" value="ModificadorAtaque2">
                            <input type="text" id="name" name="_atributos[]" class="form-control" value="{{atributos.ModificadorAtaque2}}" autocomplete="off">
                        </div>

                        <div class="col-md-5 col-xs-12 pt-2">
                            <input type="hidden" name="_test[]" value="ModificadorAtaque3">
                            <input type="text" id="name" name="_atributos[]" class="form-control" value="{{atributos.ModificadorAtaque3}}" autocomplete="off">
                        </div>

                        <div class="col-md-2 col-xs-12 pt-2">
                            <input type="hidden" name="_test[]" value="Daño2">
                            <input type="text" id="name" name="_atributos[]" class="form-control" value="{{atributos.Daño2}}" autocomplete="off">
                        </div>

                        <div class="col-md-5 col-xs-12 pt-2">
                            <input type="hidden" name="_test[]" value="Daño3">
                            <input type="text" id="name" name="_atributos[]" class="form-control" value="{{atributos.Daño3}}" autocomplete="off">
                        </div>
                    </div>

                    <div class="pt-3">
                        <label for="accionesespeciales">Acciones especiales</label>
                        <input type="hidden" name="_test[]" value="AccionesEspeciales">
                        <textarea type="text" id="accionesespeciales" name="_atributos[]" class="form-control" value="{{atributos.AccionesEspeciales}}" autocomplete="off" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="p-2 text-center border border-4 rounded border-dark mt-4 mb-2">
                    <label for="ideales">Ideales</label>
                    <input type="hidden" name="_test[]" value="Ideales">
                    <textarea type="text" id="ideales" name="_atributos[]" class="form-control" autocomplete="off" value="{{atributos.Ideales}}" rows="2"></textarea>

                    <label for="rasgos_personalidad" class="pt-4">Rasgos de personalidad</label>
                    <input type="hidden" name="_test[]" value="RasgosPersonalidad">
                    <textarea type="text" id="rasgos_personalidad" name="_atributos[]" class="form-control" autocomplete="off" value="{{atributos.RasgosPersonalidad}}" rows="2"></textarea>

                    <label for="vinculos" class="pt-4">Vinculos</label>
                    <input type="hidden" name="_test[]" value="Vinculos">
                    <textarea type="text" id="vinculos" name="_atributos[]" class="form-control" autocomplete="off" value="{{atributos.Vinculos}}" rows="2"></textarea>

                    <label for="defectos" class="pt-4">Defectos</label>
                    <input type="hidden" name="_test[]" value="Defectos">
                    <textarea type="text" id="defectos" name="_atributos[]" class="form-control" autocomplete="off" value="{{atributos.Defectos}}" rows="2"></textarea>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="p-2 text-center border border-4 rounded border-dark mt-4">
                    <div class="row pb-1">

                        <div class="col-md-2 col-xs-12">
                            <label for="pc">PC</label>
                            <input type="hidden" name="_test[]" value="PC">
                            <input type="number" id="pc" name="_atributos[]" class="form-control" value="{{atributos.PC}}" autocomplete="off">

                            <label for="pp" class="pt-3">PP</label>
                            <input type="hidden" name="_test[]" value="PP">
                            <input type="number" id="pp" name="_atributos[]" class="form-control" value="{{atributos.PP}}" autocomplete="off">

                            <label for="pe" class="pt-3">PE</label>
                            <input type="hidden" name="_test[]" value="PE">
                            <input type="number" id="pe" name="_atributos[]" class="form-control" value="{{atributos.PE}}" autocomplete="off">

                            <label for="po" class="pt-3">PO</label>
                            <input type="hidden" name="_test[]" value="PO">
                            <input type="number" id="po" name="_atributos[]" class="form-control" value="{{atributos.PO}}" autocomplete="off">

                            <label for="ppt" class="pt-3">PPT</label>
                            <input type="hidden" name="_test[]" value="PPT">
                            <input type="number" id="ptt" name="_atributos[]" class="form-control" value="{{atributos.PPT}}" autocomplete="off">
                        </div>

                        <div class="col-md-10 col-xs-12 pt-2">
                            <label for="invetario">Inventario</label>
                            <input type="hidden" name="_test[]" value="Inventario">
                            <textarea type="text" id="inventario" name="_atributos[]" class="form-control" autocomplete="off" value="{{atributos.Inventario}}" rows="16"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="p-2 text-center border border-4 rounded border-dark mt-4">
                    <label for="rasgosatributos" class="pt-2">Rasgos y atributos</label>
                    <input type="hidden" name="_test[]" value="RasgosAtributos">
                    <textarea type="text" id="rasgosatributos" name="_atributos[]" class="form-control" autocomplete="off" value="{{atributos.RasgosAtributos}}" rows="16"></textarea>
                </div>
            </div>
        </div>



    </div>

        <div class="container my-3" style="max-width: 92%;">
            <button type="button" class="btn btn-danger btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal2">
            Borrar Ficha
            </button>
            <button class="btn btn-success btn-block my-2" type="submit" onclick=RevisarChecks();>Confirmar Modificaciones</button>
        </div>
        </form>


        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">¿Esta seguro de que desea borrar la ficha?</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <a class="btn btn-danger" href="{{ path('fichaDelete', {game:game.id, ficha:ficha.id}) }}" role="button">Aceptar</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
