{% extends 'baseGame.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block stylesheets %}
<div>
{{ parent() }}
<style>
input {border-style: none; border-bottom-style: solid; border-width:thin;}

.general {border:solid thin black; margin: 0.5em; padding: 0.5em; border-radius: 1em; background: #f7f7f7;}

.die {border:solid thin black; margin: 1px; padding: 1px; border-radius: 5px; display: inline-block;}

.outer {margin: auto; max-width: 750px; background: khaki; border:solid thin black; padding: 0.5em; border-radius: 1em; overflow-y: scroll;}

@viewport { width: 640;}

</style>


<script>


  function mandarRoll(){
    const params = {
      dice: document.getElementById('dice').value,
      num: document.getElementById('num').value
    };

    const options = {
      method: "POST",
      body: JSON.stringify(params)
    };

    fetch("{{ path('roll', {id:game.id}) }}", options);
  }

  function mandarMensaje(){
    const params = {
      _content: document.getElementById('message').value
    };
    const options = {
      method: "POST",
      body: JSON.stringify(params)
    };
    fetch("{{ path('push', {id:game.id}) }}", options);
    document.getElementById("message").value="";
  }


</script>
{% endblock %}
{% block body %}
<div>
  {{ parent() }}

  
  <div class="container">
    <div class="row">
    
      <div class="col-6">
        <div class='outer cover-container my-4 p-3' style=" height: 60vh; overflow:scroll;">
          <form onsubmit="mandarRoll();return false;" id="control" class='general'>
            Nº Dados: <input type="number" step="1" id="num" value='3' max="99" min="1" size="4" required> Caras: <input type="number" step="1" id="dice" value='6' max="999" min="1" size="4">
          <input type="submit" id="roll" value="Lanzar Dados">
          </form>

          <div id="recivedDice" class='general'></div>
        </div>
      </div>


      <div class="col-6">
        <div class="container my-4 p-3">
          <div class="p-2 mb-2 bg-white text-dark scroll" style="height: 48vh; overflow-y: scroll; overflow-x: auto; overflow-wrap: break-word; hyphens: auto;" id="bajo">
            {% for message in messages %}
              {% if message.user != user %}
                <div>
                  <a class="d-flex flex-row bd-highlight mt-3">{{message.user.username}}:<br></a>
                  {{message.content}}
                </div>
              {% else %}
                <div>
                  <a class="d-flex flex-row-reverse bd-highlight mt-3 mr-3">{{message.user.username}}:<br></a>
                  {{message.content}}
                </div>
              {% endif %}
            {% endfor %}
          <div id="recived" class="mb-2">
          
          </div>
          <script>
            var objDiv = document.getElementById("bajo");
            objDiv.scrollTop = objDiv.scrollHeight;
          </script>
          </div>
          <form action="{{ path('push', {id:game.id}) }}" method="post"> 
            <input type="text" id="message" name="_content" placeholder="Tu mensaje..." class="form-control" autocomplete="off">
            <button class="btn btn-success btn-block my-2" type="button" onclick="mandarMensaje()">Enviar Mensaje</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

    {% block javascripts %}
    <script>
        var dieFace = '<svg width="50" height="50"><polygon points="3,3 3,47 47,47 47,3" style="stroke: black; fill: none" /><text fill="black" x="20" y="30" font-family="Verdana" font-size="18">REPLACEME</text></svg>';
        const eventSource1 = new EventSource("{{ mercure('https://example.com/books/' ~ game.id)|escape('js') }}");
        eventSource1.onmessage = event => { 
      // Will be called every time an update is published by the server
          var content;
          if((JSON.parse(event.data)).user != "{{user.username}}"){
            content = '<a class="d-flex flex-row bd-highlight mt-3">'+(JSON.parse(event.data)).user+":<br><a>"+(JSON.parse(event.data)).status+"<br>";
          }
          else{
            content = '<a class="d-flex flex-row-reverse bd-highlight mt-3 mr-3">'+(JSON.parse(event.data)).user+":<br><a>"+(JSON.parse(event.data)).status+"<br>";
          }
          document.getElementById("recived").innerHTML+=content;
          var objDiv = document.getElementById("bajo");
          objDiv.scrollTop = objDiv.scrollHeight;
        }

        const eventSource2 = new EventSource("{{ mercure('https://example.com/dice/' ~ game.id)|escape('js') }}");
        eventSource2.onmessage = event => { 
      // Will be called every time an update is published by the server
          valores = JSON.parse(event.data).status;
          o = document.getElementById('recivedDice');
	        p = o.innerHTML;
          if (p != ''){
            p = p.concat("<hr>")
          } else {
            p = p.concat('<button id="clear" onclick="clearme()" style="float:right;">Limpiar</button>');
          }

           p = '<a">'+p.concat(JSON.parse(event.data).user + ':</a>');
          for(const element of valores){
            p = p.concat("<span> " + dieFace.replace('REPLACEME', element.toString()) + " </span>");
          }
          o.innerHTML = p;
          window.scroll(0, document.documentElement.scrollHeight);

  } 

  function clearme(){
  	o = document.getElementById('recivedDice');
  	o.innerHTML = "";
  }

    </script>
      {% endblock %}