{% extends 'base.html.twig' %}

  {% block body %}
        
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/home">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ path('gameDetails', {id:game.id}) }}">Zona Común</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('chat', {id:game.id}) }}">Chat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('ficha', {id:game.id}) }}">Fichas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('invitation', {id:game.id}) }}">Invitar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('history', {id:game.id}) }}">Historial</a>
            </li>

            {% if rol %}
              <li class="nav-item">
                <a class="nav-link" href="{{ path('roles', {id:game.id}) }}">Administrar Roles</a>
              </li>

            {% endif %}

          </ul>

          <!-- Modal -->
        </div>
        {% if rol %}
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Borrar Partida
        </button>
        {% endif %}

        <a class="nav-link text-dark" href="/logout">Cerrar sesión</a>
      </div>
    </nav>

              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">¿Esta seguro de que desea borrar la partida?</h5>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <a class="btn btn-danger" href="{{ path('gameDelete', {id:game.id}) }}" role="button">Aceptar</a>
                </div>
              </div>
            </div>
          </div>
    

        
  {% endblock %}


